.assistant-place {
    background: #ececec;
    margin-right: 5px;
    width: calc(100% - 5px);
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plus-assistant {
    margin-top: 10px;
    min-width: 50px;
    padding: 0px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #ff7425;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 1000;
    font-size: 48px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.cloud {
    margin: 30px;
    margin-bottom: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.for-cloud {
    width: 100%;
    display: flex;
    justify-content: center;
}

.for-cloud img {
    width: 30%;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.cloud p {
    font-size: 22px;
}
.assistant-panda {
    position: relative;
    top: -40%;
    left: 45%;
    width: 175px;

}
