.target-list {
    padding-right: 5px;
    width: calc(100%-3px);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.targets-not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #C8C8C8;
    text-align: center;
}