.menu-stick-upper {
    position: sticky;
    top: 0;
}

.menu-container {
    background-color: white;
    padding-right: 5px;
    width: calc(100%-3px);
    position: sticky;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.gradient {
    height: 15px;
    background: linear-gradient(0deg, rgba(0,212,255,0) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%);
}

.menu-add-btnplace {
    min-width: 50px;
    margin-right: 5px;
}

.plus-button {
    min-width: 50px;
    margin: 0px;
    padding: 0px;
    border: none;
    width: 50px;
    height: 50px;
    background-color: #FF7425;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 1000;
    font-size: 44px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.menu-find-input {
    width: 100%;
    height: 46px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #EEE5E5;
    border-radius: 25px;
}

.menu-find-input input {
    height: 40px;
    width: 90%;
    text-align: center;
    outline: none;
    border: none;
    color: #898989;
    border-radius: 25px;
    font-size: 18px;
    font-family: Roboto;
 }

 ::placeholder {
    color: #C8C8C8;
  }