@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: #EE9A6B;
  font-family: Roboto;
}

.app {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

